{% extends 'base.html' %}
{% block title %}猫信{% endblock %}

{% block content %}
    <div class="pusher">
        <div class="chat-box">
            <div class="messages">
                <div class="ui text loader">正在加载消息...</div>
                {% include 'chat/_messages.html' %}
            </div>
        </div>
        <div class="input-area">
            <div class="ui grid form">
                <div class="ten wide column">
                    <div class="field fluid message-box">
                        {% if current_user.is_authenticated %}
                            <img class="pop-card input-avatar" data-position="bottom left"
                                 data-href="{{ url_for('chat.get_profile', user_id=current_user.id) }}"
                                 src="{{ current_user.gravatar }}">
                            <textarea rows="2" id="message-textarea"
                                      placeholder="在此处写下您的消息... Enter发送"></textarea>
                        {% else %}
                            <div class="ui floating message">请 <a href="{{ url_for('auth.login') }}">登入</a> 或者
                                <a href="{{ url_for('auth.register') }}">注册</a> 后发送消息。
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var socket = io('/');
    </script>
{% endblock %}